.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
backend/**
scanax-tests/**
node_modules/**
.env
*.log
FEATURES.md
resources/ICON-README.md
resources/*.svg
